<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maximum Weight Clique</title>
</head>
<body>
<h1>Welcome!</h1>
<p> On this site you can find the maximum clique by inserting a URL only!</p>
<p> Before inserting your URL code, please make sure you have created your graph in the link below </p>
<a href="https://docs.google.com/spreadsheets/d/1ysyLfMkiOadNudJkpyUz-wAVPpKcCK9CXqu9hnQGxrA/edit?usp=sharing">Create your graph here:</a>
<hr>


<p><b> Once you have finished editing the google-sheet file enter the URL here: </b></p>


<form action="/" , method="post">
    <strong>URL:</strong>
    <input type="text" value="" name="url">
    <input type="submit" ,value="Submit">
</form>



<a href="https://github.com/saar95/networkx-FastWClq/tree/main/networkx/algorithms/approximation">Visit our code on GitHub</a>

</body>
</html>

